{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": false
    }
  },
  "plugins": [
    "vue"
  ],
  "rules": {
    "strict": 0
  },
  "globals": {
    "$ref": "readonly",
    "$computed": "readonly",
    "$shallowRef": "readonly",
    "$customRef": "readonly",
    "$toRef": "readonly"
  }
}
